/*
 *  Globals
 */
 
@font-face { font-family: 'Avenir-Medium';
             src: url('fonts/Avenir-Medium/Avenir-Medium.ttf') format('truetype'); }

.bg-danger {
  background-color: #c9302c;
}


body {
	font-family: 'Open Sans', sans-serif;
	color: #272822;
}

main {
  max-width: 800px;
  width: 90%;
  margin: auto;
  margin-top: 75px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Avenir-Medium', cursive;
	color: #272822;
}

a {
	transition: 0.25s;
	text-decoration: none;
}

a:hover, a:focus {
	color: #DDDDDD;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.form input, .form textarea, .form select {
	width: 100%;
	border: 1.5px solid #001f3f;
	padding: 6px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	max-width: 350px;
	min-width: 250px;
	margin: 10px 0 10px 0;
}

.form input:focus {
	outline: none;
}

.form input[type="checkbox"] {
	width: 20px;
	margin-bottom: 0;
	margin-top: 0;
	position: relative;
	top: 2.5px;
	left: -2.5px;
}

.col-md-6 {
	margin-top: 50px;
}

/*
 *  Reusables
 */

.sizer {
	
	padding: 0 20px 0 20px;
}

.sizer2 {
	margin: 50px 20px 0 300px;
}

.spacer {
	margin-top: 7vh;
}

.spacer2 {
	margin-top: 10px;
}

.spacer3 {
	margin-top: 30px;
}

.spacer4 {
	margin-top: 4vh;
}

.spacer5 {
	margin-top: 70px;
}
 
.center {
	display: flex;
	justify-content: center;
}

.center-vertical {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
}

.center-text {
	text-align: center;
}

.subtitle {
	letter-spacing: 1.8px;
	color: #fffff;
	font-style: italic;
}

.subtitle2 {
	letter-spacing: 0.7px;
    color: #001f3f;
    font-weight: 800;
    font-size: 16.5px;
}

.subtitle3 {
	letter-spacing: 0.6px;
	color: #001f3f;
    font-weight: 300;
    font-style: oblique;
}

.emph {
	font-weight: 800;
}
 
.shadow {
	text-shadow: 2px 2px 8px #a6a6a6;
}

.header {
	margin-top: 5vh;
	text-align:center;
	font-weight: 500;
}

.header.white {
	color: white;
}

.header:after {
	content: '';
	width: 40px;
    height: 1.5px;
	background: black;
    display: block;
    margin: 10px auto 30px;
	
}

.header.white:after {
	background: white;
}

.greet {
	margin-top: 4vh;
}

.box {
	max-width: 520px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.inline {
	display: inline;
}

.clean-btn {
	background-color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px;
	letter-spacing: .075em;
	transition: 0.2s;
	outline: none;
}

.clean-btn.blue {
	color: #00a1e9;
    border: 1.5px solid #00a1e9;
}

.clean-btn.blue:hover {
	color: white;
	background-color: #00a1e9;
    border: 1.5px solid #00a1e9;
}

.clean-btn.red {
	color: #ff0000;
    border: 1.5px solid #ff0000;
}

.clean-btn.red:hover {
	color: white;
	background-color: #ff0000;
    border: 1.5px solid #ff0000;
}

.clean-btn.green {
	color: #00c700;
    border: 1.5px solid #00c700;
}

.clean-btn.green:hover {
	color: white;
	background-color: #00c700;
    border: 1.5px solid #00c700;
}

.empty {
	background-color: transparent;
	border: 0px;
}

.scroll::-webkit-scrollbar {
   display: none;
 }
 
.pad {
	padding: 20px;
}

.max {
	width: 100%;
}

.smallForm {
	width: 250px !important;
}

.red {
	color: #F6002E;
}

.green {
	color: #00c700;
}

.orange {
	color: #ff5e16;
}

.yellow {
	color: #C7C700;
}

.right {
	float: right;
}

.blue {
	color: #00a1e9;
}

.italic {
	font-style: italic;
}

.white {
	color: white;
}

.no-display {
	display: none;
}

.font-size18 {
	font-size: 18px;

}


/*
 *  Login
 */
 
.banner {
	position: absolute;
	z-index: 3;
	width: 100%;
	text-align: center;
	top: 0;
}
 
.login-background {
	background-image: url(https://m.namiko.org/media/collage.jpg);
	background-position:50% 50%;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
}

.form-container {
	position: relative;
	width: 300px;
	margin: 0 auto;
	background: white;
	padding: 30px 22px;
	border: 2px solid;
	z-index: 2;
}
 
.login input[type="email"], .login input[type="password"], .login input[type="text"], .textarea {
	color: black;
	width: 100%;
	border: 1.5px solid #001f3f;
	padding: 6px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	padding: 8px 29px 8px 10px;
	letter-spacing: .075em;
	margin-bottom: 19px;
	
}



.register-btn, .login-btn, input[type="submit"] {
	color: white;
	background-color: #00e600;
	border: 0px;
    text-transform: uppercase;
    font-size: 13.5px;
    padding: 8px;
    letter-spacing: .075em;
    transition: 0.2s;
    outline: none;
    margin-top: 10px;
}
.register-btn, .login-btn {
	width: 100%;
}

::-webkit-input-placeholder { color: #ccc; text-transform: uppercase; }
::-moz-placeholder { color: #ccc; text-transform: uppercase; }
:-ms-input-placeholder { color: #ccc; text-transform: uppercase; }

.login-btn {
	background-color:  #00e600;
	text-transform: uppercase;
}

.login-btn:hover {
	background-color: #00cc00;
}


.login input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid black;
	border-radius: 4px;
    width:15px;
    height:15px;
	top: -1px;
}

.login input[type="checkbox"]:hover {
	cursor: pointer;
}

.login input[type="checkbox"]:checked:after {
	content: "×";
	font-size: 20px;
	font-weight: 600;
	position: relative;
	color:white;
	top: -7px;
	left: 1.8px;
	margin-bottom:px;
	
	
}

.login input[type="checkbox"]:checked {
	background-color: rgba(0,0,0,.4);
	border: solid 0px black;
}

.login input[type="checkbox"]:focus {
	outline: none;
}

.misc {
	font-size: 12.5px;
	text-align: center;
	margin-top: 20px;
}

/*
 *  Register
 */

#reg {
		display: block;
		margin-top: 70px;
}

.register {
	
}
 
.register input{
	color: black;
	width: 100%;
	border: 1px solid;
	border: 1.5px solid #001f3f;
	padding: 6px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	padding: 8px 10px 8px 10px;
	letter-spacing: .075em;
	margin-bottom: 19px;
}

.register input[type="checkbox"] {
	width: 20px;
	margin-bottom: 0;
	margin-top: 0;
	position: relative;
	top: 2.5px;
	left: -2.5px;
}
 
.info {
	margin-bottom: 20px;
}
 
.register-btn {
	background-color: #00ccff;
	text-transform:uppercase;
}

.register-btn:hover {
	background-color: #00a3cc;
}

.reg-container {
	height: 100vh;
}

.generate input {
	width: 140px;
}

.generate > a {
	border: 0px solid;
	background-color: #ffa500;
	color: white;
	text-align: center;
	padding: 8px 5px 8px 5px;
	width: 103.5px;
    position: absolute;
    margin-left: 4px;
	text-transform: uppercase;
}

.generate a:hover {
	background-color: #cc8500;
	cursor: pointer;
}

#inputFirstName, #inputLastName {
	width: 49.2%;
}

#inputPostalCode {
	width: 35%;
} 

#inputRegion {
	width: 63.4%;
}

#inputStreet {
	width: 171.19px;
} 

#inputNumber {
	width: 71.19px;
}

#inputContribution {
	width: 71.19px;
}

.popUp {
	height: 0;
	width: 100%; 
    position: fixed; 
    z-index: 101;
    top: 0; 
    left: 0;
    background-color: white; 
    overflow-y: scroll;
    transition: 0.3s; 
}

.popUp hr {
	margin-top: 5px;
	margin-bottom: 3px;
}

.loan-btn {
	width: 100%;
	padding: 0 10px 0 10px;
	display: flex;
	justify-content: space-between;
}
 
/*
 * Navigation
 */
 
 .banner-main {
 	background-color: white;
 	color: black;
	width: 100%;
	text-align: center;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
	height: 50px;
	z-index: 3;
}

.fixed {
	position: fixed;
	z-index: 3;
}

.relative {
	position: relative;
}

.title {
	max-height: 41px;
	margin-top: 4px;
}

.burger {
	color: #0e1111;
	font-size: 35px;
}

.log {
	float: right;
	font-size: 35px;
	margin-left: -32.5px;
	display: inline;
}

.left-nav {
	float: left;
	font-size: 35px;
	display: inline;
	padding-left: 0px;
}

.right-nav {
	float: right;
	font-size: 35px;
	display: inline;
	padding-right: 0px;
	margin-left: -149.1px;
}
 
.left-nav ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.right-nav ul {
	list-style: none;
	padding-right: 0;
	margin-bottom: 0;
}
 
.left-nav li {
  display: inline;
  padding-right: 10px;
}

.right-nav li {
	display: inline;
	padding-left: 10px;
}

.shoppingCart {
	color: #00a1e9;
	position: relative;
}

.shoppingCart a {
	color: white;
}

.shoppingCart:hover {
	cursor: pointer;
}

#cartCount {
	font-size: 10px;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #ff0000;
	color: white;
	line-height: 1.1;
	border-radius: 9px;
}

.newUser {
	margin-right: -50px;
}

.user {
	margin-right: -104.1px;
}

.administrator {
	margin-right: -153.2px;
}

.desc {
	display: none;
}

.menu-content .desc {
	display: block;
	display: inline;
}

.orders {
	color: #00c700;
}

.settings {
	color: #ff5e16;
}

.admin {
	color: #00a1e9;
}


 
nav a {
	
}

a:hover.title {
	color: #DDDDDD;
	text-decoration: none;
	
}

.mobileMenu {
	visibility: hidden;
	margin-right: -25.73px;
	background-color: transparent;
	outline: none;
	transition: 0.25s;
	color: #0e1111;
}

.mobileMenu:hover {
	cursor: pointer;
	color: #DDDDDD;
}

.menu-content ul {
	list-style: none;
	padding-left: 0px;
	font-size: 20px;
}

.menu-content li {
	line-height: 2.2;
}

.menu-content a {
	text-decoration: none;
	
}


.dropdowner {
	position: relative;
    display: inline-block;
}

.menu-content {
    align-content: center;
	visibility: hidden;
    opacity: 0;
	position: fixed;
	top: 50px;
    background-color: #3b444b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 16px 20px;
    z-index: 3;
	transition: visibility 0s linear 0.2s, opacity 0.3s linear;
}

.mobileMenu:visited .dropdown-content {
    display: block;
}

.sidebar {
	position: fixed;
	top: 50px;
	width: 250px;
	height: 100%;
	z-index: 1;
	display: block;
	background-color: #3b444b;
	overflow-x: hidden;
	color: white;
	padding: 20px 15px 20px 15px;
	font-size: 0.9em;
}

.search {
	background-color: transparent;
	border: 1.5px solid white;
	padding: 6px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	width: 80%;
	margin-bottom: 10px;
}

.search-btn {
	margin-left: 5px;
}

.search-btn:hover {
	color: #00c700;
}

.padder {
	padding: 0 20px 0 20px;
}

.adjust {
	margin: -50px 0 0 0;
}

#back-up {
    visibility: hidden; 
	height: 25px;
	width: 25px;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 2; 
    border: none; 
    outline: none; 
    background-color: transparent; 
    cursor: pointer; 
    border-radius: 10px; 
	transition: visibility 0s linear 0.5s, opacity 0.3s linear;
	-webkit-transition: visibility 0s linear 0.5s, opacity 0.3s linear;
}


#back-up #arrow {
	transition: 0.3s;
}

#back-up:hover #arrow {
	fill: #00a1e9;
	transition: 0.3s;
}

.separator {
	margin: 2px 150px 8px 0;
}
 
/*
 *  Catalogue
 */
 
.calendar {
	margin-top: 4vh;
}

.catThumb {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.catHeader {
	margin-left: 25px; 
	margin-right: 25px;
}

.catImg {
	margin: 0px 30px 0 30px;
	flex: 1;
	width: 90px;
	max-width: 90px;
}

.img img {
	max-height: 90px;
	max-width: 90px;
	width: auto;
	height: auto;
}

.catName {
	margin-left: 25px; 
	margin-right: 25px;
}

.data {
	letter-spacing: 1px;
	font-size: 12px;
	color: #bfbfbf;
}

.info {
	padding: 10px;
}

.name {
	font-size: 25px;
	margin: 0 0 10px 0;
}

.price {
	margin-top: 10px;
	font-size: 12px;
	float: right;
}

.quantity {
	width: 40px;
}

.item {
	margin: 30px 0 30px 0;
}

.addCart {
	border: 0px;
	background-color: transparent;
	font-size: 23px;
	position: relative;
	top: 1.4px;
	margin: 0 0 0 5px;
}

.addCart:hover {
	color: #ff38ff;
}

.cart {
	overflow-y: scroll;
    height: 0;
	width: 100%; 
    position: fixed; 
    z-index: 100;
    top: 0; 
    left: 0;
    background-color: white; 
    overflow-x: hidden; 
    transition: 0.3s; 
	text-align: center;
}

.cartTable {
	width: 100%;
	max-width: 820px;
	text-align: left;
}

.cartTable td {
	padding: 5px 0 5px 0;
}

.total {
	text-align: right;
}

.remove-item {
	color: #F6002E;
}

#cartCount {
	font-size: 17px;
}

.message {
  margin: 10px 0;
  padding: 7px;
  border-radius: 4px;
}

/*
 *  Notification
 */

 
.notification {
    height: 100%;
	width: 100%; 
    position: fixed; 
    z-index: 101;
    top: 0; 
    left: 0;
    background-color: white; 
    overflow-x: scroll; 
	overflow-y: scroll;
    transition: 0.3s; 
	text-align: center;
}

.notificationClosed {
    height: 0;
	width: 100%; 
    position: fixed; 
    z-index: 101;
    top: 0; 
    left: 0;
    background-color: white; 
    overflow-x: scroll; 
	overflow-y: scroll;
    transition: 0.3s; 
	text-align: center;
}

.notification h1 {
	margin-top: 0px;
}

.closebtn {
	position: absolute;
	top: 0px;
	right: 20px;
	float: right;
	font-size: 50px;
	color: #F6002E;
}


.noscroll {
	overflow: hidden;
}

.check {
	margin-top: 40px;
}

.check:hover, .check:active {
	border: 1.5px solid #DDDDDD;
}

.producer_info:hover {
	cursor: pointer;
}




/*
 * Admin
 */

.admin-nav {
	background-color: #5f5f5f;
	color: white;
	-webkit-box-shadow: inset 0px -10px 8px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -10px 8px -10px rgba(0,0,0,0.75);
    box-shadow: inset 0px -10px 8px -10px rgba(0,0,0,0.75);
    padding: 5px 0 5px 0;
}

.limiter {
	padding: 0 15px 0 15px;
}

.admin-nav ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.admin-nav li a {
	color: white;
}

.admin-nav li a:hover {
	color: #ff5e16;
}


.admin-nav li {
	display: inline-block;
	padding: 5px 10px 5px 10px;
}

.admin-nav div ul li a:active:after {
	content: '';
	width: 20px;
    height: 2px;
	background: #00a1e9;
    display: block;
    margin: 0 auto;
}

.admin-nav div ul li a:active {
	color: #00a1e9 !important; 
	font-weight: 600;
}


.save:hover, .save:active {
	color: #00a1e9;
}

.sign {
	text-align:center;
	font-size: 19px;
	font-style: italic;
}

#signature-pad hr {
	height: 1.5px;
	border: 0;
	border-top: 1.5px solid black;
	margin-top: 10px;
}

.output {
	max-width: 600px;
}

.width100 {
	width: 100px;
}

.stock {
    width: 90px;
    text-align: center;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #00c700; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.leftSpace {
	margin-left: 10px;
}

.sub:after {
	content: '';
	width: 35px;
    height: 1.5px;
	background: black;
    display: block;
    margin: 10px 0 5px 0;
	
}

#save-btn {
	position: fixed;
	right: 10px;
	top: 10px;
	font-size: 40px;
	font-weight: 600;
	z-index: 100;
}


.table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
}

.table input, .table select {
	width: 100%;
}

.table tbody tr:hover {
      background-color: #ffff99;
}

.fixed-th {
  top:0;
  position:fixed;
  width:auto;
  display:none;
  border:none;
}


/*
 * Footer 
 */
 
.footer {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 13vh;
	padding-top: 50px;
	-webkit-box-shadow: inset 0px 9px 4px -7.6px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 9px 4px -7.6px rgba(0,0,0,0.4);
    box-shadow: inset 0px 9px 4px -7.6px rgba(0,0,0,0.4);
}

.leftSpacer {
	margin-left: 2.5vh;
}


/*
 * Mobile Optimization 
 */


@media (max-width: 1070px) {
	.first {
		display: none;
	}
}

@media (max-width: 860px) {
	.full {
		overflow-x: scroll;
	}
}

@media (max-width: 900px) {
	.mobileMenu {
		visibility: visible;
	}
	
	#left-nav {
		visibility: hidden;
	}

	#log {
		display: none;
	}

	.limiter {
		padding: 0 10px 0 10px;
	}

	.sidebar {
		width: 200px;
	}

	.sizer2 {
		margin: 50px 20px 0 220px;
	}

	.sizer3 {
		padding: 0 20px 0 20px;
	}

}

@media (max-width: 750px) {
	.second {
		display: none;
	}
}

@media (max-width: 510px) {
	.sidebar {
		position: static;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: block;
		background-color: white;
		overflow-x: hidden;
		color: #0e1111;
		padding: 0 20px 0 20px;
		margin-top: 20px;
	}

	.search {
		border-bottom: 1.5px solid #0e1111;
	}

	.sizer2 {
		margin: 50px 20px 0 20px;
	}

	.white {
		color: #0e1111;
	}
}

@media (max-width: 470px) {
	.order {
		overflow-x: scroll;
	}
}

@media (max-width: 390px) {
	.log, .left-nav, .shoppingCart {
		font-size: 30px;
	}

	#cartCount {
		font-size: 11px;
		width: 16px;
		height: 16px;
		border-radius: 8px;
	}

	.title {
		height: 34px;
		width: auto;
		margin-top: 8px;
	}
	
	.left-nav {
		line-height: 1.6;
	}

	.item {
		margin: 50px 0 70px 0;
	}

	.catHeader {
		margin-left: 0px; 
		margin-right: 0px;
	}

	.reserve-container {
		padding: 20px;
	}

	.selectionWell {
		padding: 10px 0 10px 0;
	}
}
