RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://m.namiko.org/$1 [R=301,L]

AuthUserFile /var/www/web130/html/namiko/.htpasswd
AuthName "Registration Password"
AuthType basic
<files register.php>
require valid-user
</files>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
Redirect 410 /
</IfModule>
